body {
    text-align: center;
    background: url("../img/acg_is_not_fk_politics.jpg");
}

input, button {
    font-size: 2em;
    padding: .5em 1em;
}

p {
    padding: .25em;

    > span {
        background-color: rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 2px white;
    }
}

#drawer {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    position: relative;

    > * {
        display: block;
    }

    #testCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 1280px;
        height: 720px;
        transform: matrix3d(0.325, -0.01, 0, 0.000005, 0.01, 0.325, 0, 0, 0, 0, 1, 0, -382, 73, 0, 1);
        transform-style: preserve-3d;
    }
}